<div class="container">
  <div class="row d-none d-lg-flex ">
	<div class="col-2 nav justify-content-center">
	  Game
	</div>
	<div class="col-2 nav justify-content-center">
	  Name
	</div>
	<div class="col-1 nav justify-content-center">
	  Deadline
	</div>
	<div class="col-2 nav justify-content-center">
	  Links
	</div>
	<div class="col-3 nav justify-content-center">
	  Restrictions
	</div>
	<div class="col-2 nav justify-content-center">
	  Notes
	</div>
  </div>
  <%= render partial: 'opportunities/tournament', collection: @tournaments %>
</div>
