body {
    background-color: powderblue;	
}

.aoei {
    background-color: bisque;
}
.aoeii {
    background-color: lightyellow;
}
.aoeiii {
    background-color: lightgreen;
}
.aoeiv {
    background-color: lightblue;
}
