body {
    background-color: floralwhite;	
}

a {
	text-decoration: none;
}

a:hover {
	filter: brightness(75%);
}

.banner {
	background-color: lightsalmon;
}

.aoei {
    background-color: bisque;
}
.aoeii {
    background-color: lightyellow;
}
.aoeiii {
    background-color: lightgreen;
}
.aoeiv {
    background-color: lightblue;
}
.aom {
    background-color: slategray;
    color: white;
}

.aom a {
    color: lightblue;
}
