<h1>DMCA Provisions</h1>
<p>If you believe that content available by means of our site infringes on one or more of your copyrights, please notify us by using the <%= link_to 'Contact Us link', new_messages_path %> with the starting line "Infringement Notice" and providing the information listed below. If we take action in response to your Infringement Notice, we will attempt to contact the user that made such content available to inform them of any action taken. Please be advised that you will be liable for damages (including attorneys fees) if you materially misrepresent that a product or activity is infringing your copyrights. Thus, if you are not sure content located on our website infringes your copyright, you should consider contacting an attorney.</p>
<p>When sending an Infringment Notice, the following are <u>required</u>:</p>
<ul>
<li>An electronic signature of the copyright owner or a person authorized to act on their behalf;</li>
<li>An identification of the copyright claimed to have been infringed;</li>
<li>A description of the nature and exact location of the content that you claim infringes your copyright, in sufficient detail to permit us to find and positively identify that content; for example a link to the specific forum post that contains the content and a description of which specific portion of the forum post – eg an image, text, etc – that your complaint refers to;</li>
<li>Your name, address, telephone number and email address; and</li>
<li>A statement by you: (a) that you believe in good faith that the use of the content that you claim to infringe your copyright is not authorized by law, or by the copyright owner or such owner's agent; and (b) under penalty of perjury, that all of the information contained in your Infringement Notice is accurate, and that you are either the copyright owner or a person authorized to act on their behalf.</li>
</ul>
<p>If a DMCA notice is valid, we will respond by disabling access to the allegedly infringing content and informing you of such action. Infringement Notices that are missing any of the above required items or are incomplete or invalid will not be acted upon.</p>
