<h1><%= t(:terms_of_use) %></h1>
<h2>1. Terms</h2>
<p>By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.</p>
<h2>2. Use License</h2>
<ol>
<li>Permission is granted to use the materials (information or software) on Tourney Opportunities' web site for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not: <ol>
<li>modify or copy the materials;</li>
<li>use the materials for any commercial purpose without prior written consent;</li>
<li>attempt to decompile, reverse engineer or otherwise interfere with any software contained on Tourney Opportunities' web site;</li>
<li>remove any copyright or other proprietary notations from the materials; or</li>
<li>transfer the materials to another person or "mirror" the materials on any other server.</li>
</ol>
</li>
<li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by Tourney Opportunities at any time. Upon termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</li>
</ol>
<h2>3. Disclaimer</h2>
<p>The materials on Tourney Opportunities' web site are provided "as is". Tourney Opportunities makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Tourney Opportunities does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.</p>
<h2>4. Limitations</h2>
<p>In no event shall Tourney Opportunities or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Tourney Opportunities' Internet site, even if Tourney Opportunities or a Tourney Opportunities authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
<h2>5. Revisions and Errata</h2>
<p>The materials appearing on Tourney Opportunities' web site could include technical, typographical, or photographic errors. Tourney Opportunities does not warrant that any of the materials on its web site are accurate, complete, or current. Tourney Opportunities may make changes to the materials contained on its web site at any time without notice. Tourney Opportunities does not, however, make any commitment to update the materials.</p>
<h2>6. User Submitted Content</h2>
<p>With respect to any content you elect to post on any area of the site, including blogs, forum comments and any and all other posts, you grant Tourney Opportunities a royalty-free, perpetual, irrevocable, non-exclusive and fully sublicensable right and license to use and display such content worldwide and/or to incorporate it in other works in any form, media, or technology, without compensation or attribution to you.</p>
<p>Tourney Opportunities does not control or guarantee the accuracy, integrity or quality of user submitted content posted on the site. We take no responsibility and assume no liability for any user submitted content, or for any mistakes, defamation, slander, libel, omissions, falsehoods, obscenity, pornography, or profanity you may encounter. All content posted by users, including any opinions, advice or recommendations expressed, are those of the users providing such content and not those of Tourney Opportunities. Unless otherwise stated, we do not endorse any user submitted content or any opinion, recommendation or advice.</p>
<p>If you believe that content on our site infringes on a copyright, please see our <%= link_to 'DMCA policy', compliance_dmca_path %>.</p>
<h2>7. Prohibited Conduct</h2>
<p>Tourney Opportunities shall have the right (but not the obligation) in its sole discretion to monitor, refuse or remove any content for any or no reason, including any content that violates these Terms of Use or is otherwise objectionable. The following types of conduct are prohibited and, if exhibited through postings on the site, Tourney Opportunities may exercise its enforcement rights:</p>
<ul>
<li>Vulgar, obscene, hateful, abusive, political or religious content<br>
<li>Sexually explicit or suggestive posts and / or images<br>
<li>Disclosure of private information or content that is not your own or that you do not have the right to provide to the public, such as:<br>
<ul>
<li>personal phone numbers, addresses or other contact information that is not your own<br>
<li>private information such as social security numbers<br>
<li>copyrighted content or trade secrets</ul>
<li>Off-topic content not relevant to our community<br>
<li>Advertising or promotion of third party products, services or organizations without prior arrangement<br>
<li>Content or links to content that contain viruses, trojan horses, logic bombs, infinite loops, system despoilers, mainframe viruses, trap doors, zero bugs or similar destructive features that may damage someone else's computer<br>
<li>Duplicate or excessively repeated submissions in one or more areas<br>
<li>Content used to impersonate another person<br>
<li>Content or behavior that violates any applicable laws<br>
<li>Content or behavior that interferes with the operation of the site or with another member's ability to use the site<br>
<li>Evading site controls such as bans, or otherwise disregarding the directions of the site moderators or administrators</ul>
<h2>8. Site Terms of Use Modifications</h2>
<p>Tourney Opportunities may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.</p>
<h2>9. Governing Law</h2>
<p>Any claim relating to Tourney Opportunities' web site shall be governed by the laws of The United States without regard to its conflict of law provisions.</p>
